:root{
  --Palette-1: #86A788;
  --Palette-2: #FFFDEC;
  --Palette-3: #D8E2DC;
  --Palette-4: #C0D26E;
  --Palette-5: #F0F4DA;
  --Palette-6: #87A330;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arima", serif;
  
}



.header-button button{
  background-color: var(--Palette-4);
  border-radius: 10px;
}

.banner{
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.banner div{
  position: absolute;
  margin-top: -710px;
  left: 25%;
}

.create-box{
  background-color: #86a33096;
  position: absolute;
  margin-top: 200px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  }
  
  .div1 { grid-area: 1 / 2 / 2 / 3; }
  .div2 { grid-area: 1 / 3 / 2 / 4; }
  .div3 { grid-area: 1 / 4 / 2 / 5; }
  .div4 { grid-area: 2 / 2 / 4 / 5; }
  .div5 { grid-area: 4 / 2 / 5 / 3; }
  .div6 { grid-area: 4 / 3 / 5 / 4; }
  .div7 { grid-area: 4 / 4 / 5 / 5; }
  .div8 { grid-area: 5 / 2 / 6 / 3; }
  .div9 { grid-area: 5 / 3 / 6 / 4; }
  .div10 { grid-area: 5 / 4 / 6 / 5; }
  .div11 { grid-area: 6 / 2 / 7 / 3; }
  .div12 { grid-area: 6 / 3 / 7 / 4; }


.display-card{
  width: 18rem;
  height: 30rem;
  overflow: hidden;
  padding-bottom: 0 !important;
}


.map{
  width: 100%;
  height: 500px;
  border-radius: 20px;
}


